
@{
    ViewBag.Title = "Opciones del sistema y configuracion";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<VisiflexAOSTUX.Models.AttentionArea> attentionAreas = ViewData["AttentionAreas"] as List<VisiflexAOSTUX.Models.AttentionArea>;
}

<div class="row">
    <div class="col-md-3 card rounded shadow text-center" style="padding:8px; height:200px;">
        <div class="card-body">
            <h5 class="card-title">Accesos rapidos</h5>
        </div>
        <div class="card-body card-button-full">
            <div>
                <a class="btn btn-outline-primary" style="width:100%;" href="#">Haz clic aqui</a>
            </div>
        </div>
    </div>

    <div class="offset-md-1 col-md">
        <h2 style="margin-bottom:32px;">@ViewBag.Title</h2>
        <div class="card rounded shadow" style="padding:8px; margin-bottom:32px;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-shield-fill-check"></i> Copia de seguridad</h5>
                <p class="card-text">Realiza una copia segura de los datos e informacion almacenada en la base de datos</p>

                <a class="btn btn-outline-primary full-width" style="margin-bottom: 20px;" href="#"><i class="bi bi-download"></i> Descargar respaldo</a>


                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form needs-validation", enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-md">
                            <label class="input-label">Subir archivo de respaldo</label>
                            <input type="file" class="form-control" id="" name="" required>
                        </div>
                    </div>
                    <div>
                        <p>
                            Restaura la informacion desde una copia de seguridad, este proceso eliminara los datos ya existentes y
                            seran remplazados por los datos del respaldo
                        </p>
                    </div>

                    <button type="submit" class="btn btn-outline-success full-width"><i class="bi bi-upload"></i> Cargar y Guardar</button>
                }

            </div>
        </div>

        <div class="card rounded shadow" style="padding:8px; margin-bottom:32px;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-people-fill"></i> Agentes de atencion</h5>
                <p class="card-text">Agrega y elimina los agentes de atencion</p>

                <div style="margin-bottom: 20px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="width:135.8px;">Ficha</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">582509</th>
                                <td>ANGEL GERARDO JIMENEZ REYES</td>
                                <td><a class="btn btn-sm btn-outline-danger full-width" href="#"><i class="bi bi-trash-fill"></i> Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form needs-validation", enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <label class="input-label">Ficha</label>
                            <input type="number" class="form-control" id="" name="" autocomplete="off" required>
                        </div>
                        <div class="col-md">
                            <label class="input-label">Nombre del agente</label>
                            <input type="text" class="form-control" id="" name="" autocomplete="off" required>
                        </div>
                        <div class="col-md-3" style="display:flex; align-items:flex-end;">
                            <button type="submit" class="btn btn-outline-success full-width"><i class="bi bi-check"></i> Agregar</button>
                        </div>
                    </div>
                }

            </div>
        </div>


        <div class="card rounded shadow" style="padding:8px; margin-bottom:32px;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-safe2-fill"></i> Areas de atencion</h5>
                <p class="card-text">Agrega y elimina los areas de atencion</p>

                <div style="margin-bottom: 20px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="width:135.8px;">Clave</th>
                                <th scope="col">Nombre</th>
                                <th scope="col" style="width:192.75px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (attentionAreas.Count > 0)
                            {
                                foreach (var item in attentionAreas)
                                {
                                    <tr>
                                        <td>@item.AreaCode</td>
                                        <td>@item.Name</td>
                                        <td><a class="btn btn-sm btn-outline-danger full-width" href="@Url.Action("DeleteAttentionArea", "AttentionArea", new { id = item.AttentionAreaID, c = "System", a = "Settings" })"><i class="bi bi-trash-fill"></i> Eliminar</a></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3">No Items detected...</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @using (Html.BeginForm("AddAttentionArea", "AttentionArea", FormMethod.Post, new { @class = "form needs-validation" }))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <label class="input-label">Clave</label>
                            <input type="number" class="form-control" id="AreaCode" name="AreaCode" autocomplete="off" required>
                        </div>
                        <div class="col-md">
                            <label class="input-label">Nombre del area de atencion</label>
                            <input type="text" class="form-control" id="Name" name="Name" autocomplete="off" required>
                        </div>
                        <div class="visually-hidden">
                            <input type="text" class="form-control" id="controller" name="controller" autocomplete="off" readonly required value="System">
                            <input type="text" class="form-control" id="action" name="action" autocomplete="off" readonly required value="Settings">
                        </div>

                        <div class="col-md-3" style="display:flex; align-items:flex-end;">
                            <button type="submit" class="btn btn-outline-success full-width"><i class="bi bi-check"></i> Agregar</button>
                        </div>
                    </div>
                }

            </div>
        </div>

        <div class="card rounded shadow" style="padding:8px; margin-bottom:32px;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-pin-map-fill"></i> Centros de trabajo</h5>
                <p class="card-text">Agrega y elimina los centros de trabajo</p>

                <div style="margin-bottom: 20px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="width:135.8px;">Clave del CT</th>
                                <th scope="col">Centro de trabajo</th>
                                <th scope="col" style="width:192.75px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>999999</td>
                                <td>Centro de atencion 1</td>
                                <td><a class="btn btn-sm btn-outline-danger full-width" href="#"><i class="bi bi-trash-fill"></i> Eliminar</a></td>
                            </tr>
                            <tr>
                                <td>999999</td>
                                <td>Centro de atencion 2</td>
                                <td><a class="btn btn-sm btn-outline-danger full-width" href="#"><i class="bi bi-trash-fill"></i> Eliminar</a></td>
                            </tr>
                            <tr>
                                <td>999999</td>
                                <td>Centro de atencion 3</td>
                                <td><a class="btn btn-sm btn-outline-danger full-width" href="#"><i class="bi bi-trash-fill"></i> Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form needs-validation", enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-md-4">
                            <label class="input-label">Clave del centro de trabajo</label>
                            <input type="number" class="form-control" id="" name="" autocomplete="off" required>
                        </div>
                        <div class="col-md">
                            <label class="input-label">Nombre del centro de trabajo</label>
                            <input type="text" class="form-control" id="" name="" autocomplete="off" required>
                        </div>
                        <div class="col-md-3" style="display:flex; align-items:flex-end;">
                            <button type="submit" class="btn btn-outline-success full-width"><i class="bi bi-check"></i> Agregar</button>
                        </div>
                    </div>

                }

            </div>
        </div>

        <div class="card rounded shadow" style="padding:8px; margin-bottom:32px;">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-x-octagon-fill"></i> Purgar datos</h5>
                <p class="card-text">Elimina TODOS los datos almacenados en la base de datos</p>

                <a class="btn btn-outline-danger full-width" href="#">Purgar datos</a>
            </div>
        </div>

    </div>
