@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Bienvenido</h1>
    <p class="lead">Este es el menu de inicio del sistema VISIFLEX AOS Tuxpan. Para comenzar, selecciona una de las siguentes opciones.</p>
    <br /><br />
    <br />
</div>

<div class="row">
    <div class="col-md card rounded shadow text-center" style="padding: 8px; margin:16px;">
        <div class="card-body">
            <h5 class="card-title">Capturar</h5>
            <p class="card-text">¿Quieres agregar un nuevo asunto a la agenda laboral?</p>
        </div>
        <div class="card-body card-button-full">
            <div>
                <a class="btn btn-outline-primary" style="width:100%;" href="#">Haz clic aqui</a>
            </div>
        </div>
    </div>
    <div class="col-md card rounded shadow text-center" style="padding: 8px; margin:16px;">
        <div class="card-body">
            <h5 class="card-title">Actualizaciones de asuntos</h5>
            <p class="card-text">¿Necesitas visualizar los estados de la agenda laboral y/o capturar los progresos de los asuntos?</p>
        </div>
        <div class="card-body card-button-full">
            <div>
                <a class="btn btn-outline-primary" style="width:100%;" href="#">Haz clic aqui</a>
            </div>
        </div>
    </div>
    <div class="col-md card rounded shadow text-center" style="padding: 8px; margin:16px;">
        <div class="card-body">
            <h5 class="card-title">Consultas de asuntos</h5>
            <p class="card-text">Buscar, explorar y filtrar los asuntos de la agenda laboral</p>
        </div>
        <div class="card-body card-button-full">
            <div>
                <a class="btn btn-outline-primary" style="width:100%;" href="#">Haz clic aqui</a>
            </div>
        </div>
    </div>
</div>