body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-nav {
    justify-content: flex-end !important;
}

/*CSS de Snackbar*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}


span.icon {
    vertical-align: bottom;
    margin-right: 16px;
}


.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.card-body {
    padding: 12px;
}

.card-content-full {
    display: flex;
    justify-content: space-around;
}

.card-button-full {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

    .card-button-full div {
        flex: 1;
    }

.form .row {
    margin-bottom: 20px;
}

.input-label {
    margin-bottom: 6px;
}

.full-width {
    width: 100%;
}