body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-nav {
    justify-content: flex-end !important;
}

span.icon {
    vertical-align: bottom;
    margin-right: 16px;
}


.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.card-body {
    padding: 12px;
}

.card-content-full {
    display: flex;
    justify-content: space-around;
}

.card-button-full {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.card-button-full div {
    flex: 1;
}

.form .row {
    margin-bottom: 20px;
}

.full-witdth {
    width: 100%;
}

.input-label {
    margin-bottom: 6px;
}