
@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";

    VisiflexAOSTUX.Models.Account account = ViewData["account"] as VisiflexAOSTUX.Models.Account;
}

<div>
    <h1>@ViewBag.Title</h1>
    <div class="row">
        <div class="col-md">
            @using (Html.BeginForm("SubmitUpdatePassword", "Identity", FormMethod.Post, new { @class = "form" }))
            {
                <h4>Cambiar contraseña</h4>
                <hr />

                <div class="row">
                    <div class="col-md">
                        <label>Contraseña anterior</label>
                        <input class="form-control" name="OldPassword" id="OldPassword" autocomplete="off" type="password" value="" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label>Nueva contraseña</label>
                        <input class="form-control" name="NewPassword" id="NewPassword" autocomplete="off" type="password" value="" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <label>Confirmar contraseña</label>
                        <input class="form-control" name="PasswordConfirm" id="PasswordConfirm" autocomplete="off" type="password" value="" required />
                    </div>
                </div>
                <div class="row" hidden>
                    <div class="col-md">
                        <input class="form-control" name="IdAccount" id="IdAccount" autocomplete="off" type="password" value="@account.IDAccount" required readonly/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <button type="submit" class="btn btn-primary full-width">Iniciar sesion</button>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-8 text-center">
            <img style="height:400px" src="/Images/admin-login.jpg" />
        </div>
    </div>
</div>