
@{
    ViewBag.Title = "NewLaboralTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<VisiflexAOSTUX.Models.Agent> agents = ViewData["Agents"] as List<VisiflexAOSTUX.Models.Agent>;
    List<VisiflexAOSTUX.Models.AttentionArea> attentionAreas = ViewData["AttentionAreas"] as List<VisiflexAOSTUX.Models.AttentionArea>;
    List<VisiflexAOSTUX.Models.Workplace> workplaces = ViewData["Workplaces"] as List<VisiflexAOSTUX.Models.Workplace>;
}

<div class="row">
    <div class="col-md-3 card rounded shadow text-center" style="padding:8px; height:200px;">
        <div class="card-body">
            <h5 class="card-title">Accesos rapidos</h5>
        </div>
        <div class="card-body card-button-full">
            <div>
                <a class="btn btn-outline-primary" style="width:100%;" href="#">Haz clic aqui</a>
            </div>
        </div>
    </div>

    <div class="offset-md-1 col-md">
        <h2 style="margin-bottom:32px;">Actualizaciones de asuntos</h2>
        <div class="card rounded shadow" style="padding:8px;">
            <div class="card-body">
                <h5 class="card-title">Informacion del asunto</h5>
                <p class="card-text">¿Necesitas visualizar los estados de la agenda laboral y/o capturar los progresos de los asuntos?</p>

                @using (Html.BeginForm("AddLaboralTask", "LaboralTask", FormMethod.Post, new { @class = "form needs-validation", enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-md">
                            <label class="input-label">Fecha de Recepcion</label>
                            <input type="date" class="form-control" id="ReceptionDate" name="ReceptionDate" placeholder="01/01/2021" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <label class="input-label">Documento No.</label>
                            <input type="text" class="form-control" id="DocumentID" name="DocumentID" placeholder="Numero del documento" required>
                        </div>
                        <div class="col-md">
                            <label class="input-label">Fecha del Documento</label>
                            <input type="date" class="form-control" id="DocumentDate" name="DocumentDate" placeholder="Fecha del documento" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <label class="input-label">Archivo Digital</label>
                            <input type="file" class="form-control" id="" name="" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <label class="input-label">Area de Atencion</label>
                            <select class="form-select" id="IDAttentionArea" name="IDAttentionArea" required>
                                @foreach (var item in attentionAreas)
                                {
                                    <option hidden selected>Selecciona una opcion</option>
                                    <option value="@item.AttentionAreaID">[@item.AreaCode] - @item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md">
                            <label class="input-label">Centro de trabajo</label>
                            <select class="form-select" id="IDWorkplace" name="IDWorkplace" required>
                                @foreach (var item in workplaces)
                                {
                                    <option hidden selected>Selecciona una opcion</option>
                                    <option value="@item.WorkplaceID">[@item.WorkplaceCode] - @item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <label class="input-label">Area de Solicitante</label>
                            <input type="text" class="form-control" id="IDRequesterArea" name="IDRequesterArea" placeholder="Area de solicitante" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <label class="input-label">Asunto</label>
                            <input type="text" class="form-control" id="Subjet" name="Subjet" placeholder="Asunto" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <label class="input-label">Descripcion Larga</label>
                            <textarea class="form-control" rows="4" id="LongDescription" name="LongDescription" placeholder="Anota la descripcion aqui" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <label class="input-label">Instrucciones para la Atencion</label>
                            <textarea class="form-control" rows="4" id="AttentionInstructions" name="AttentionInstructions" placeholder="Anota las instrucciones aqui" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <label class="input-label">Observaciones a Considerar para la Gestion del Asunto</label>
                            <textarea class="form-control" rows="4" id="Observations" name="Observations" placeholder="Anota las observaciones aqui" required></textarea>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-success full-width">Cargar y Guardar</button>
                }


            </div>
    
        </div>
    
    </div>

</div>