
@{
    ViewBag.Title = "NewLaboralTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3 card rounded shadow text-center" style="padding:8px; height:200px;">
        <div class="card-body">
            <h5 class="card-title">Accesos rapidos</h5>
        </div>
        <div class="card-body card-button-full">
            <div>
                <a class="btn btn-outline-primary" style="width:100%;" href="#">Haz clic aqui</a>
            </div>
        </div>
    </div>

    <div class="offset-md-1 col-md">
        <h2 style="margin-bottom:32px;">Actualizaciones de asuntos</h2>
        <div class="card rounded shadow" style="padding:8px;">
            <div class="card-body">
                <h5 class="card-title">Informacion del asunto</h5>
                <p class="card-text">¿Necesitas visualizar los estados de la agenda laboral y/o capturar los progresos de los asuntos?</p>

                <div class="form">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                        </div>
                    </div>
                </div>

                <div>
                    <a class="btn btn-outline-success" style="width:100%;" href="#">Cargar y guardar</a>
                </div>
            </div>
        </div>
    </div>
    
    

</div>